<div class="container">
  <div class="title">
    <!-- Need to make it not length but sum of all quantities -->
    <h1>Your Cart ({{ changes.length }})</h1>
  </div>
  <div class="added-items">
    <div *ngIf="changes.length === 0">
      <img src="/images/illustration-empty-cart.svg" alt="icon" />
      <p>Your added items will be here</p>
    </div>
    <div *ngIf="changes.length > 0">
      <div class="item" *ngFor="let item of changes">
        <div>
          <div class="item-name">
            <p>{{ item.model.name }}</p>
          </div>
          <div class="about-price">
            <p class="curr-quantity">{{ item.quantity }}x</p>
            <p class="one-price">&#64;{{ item.model.price }}</p>
            <p class="total-price">{{ item.total }}</p>
          </div>
        </div>
        <div class="remove-icon">
          <img src="/images/icon-increment-quantity.svg" alt="increment" />
        </div>
      </div>
    </div>
  </div>
</div>
